@import url("https://fonts.googleapis.com/css?family=Poppins");
html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  line-height: 1.5;
  font-size: 2.0rem;
}

@media (max-width: 575.98px) {
  html {
    font-size: 55%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 58%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 60%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 62.5%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

section.hero {
  background-image: url("../img/purple.png");
  width: 100%;
  margin: 0 auto;
}

section.black {
  background-color: black;
  color: white;
}

section.white {
  background-color: white;
  color: black;
}

section.padded {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

section.hero {
  padding-top: 25rem;
  padding-bottom: 25rem;
}

section.hero h1 {
  font-size: 9rem;
  font-weight: 800;
}

section.content .container .row, section.content .container-fluid .row {
  padding-top: 3rem;
}

section.content .container .row img, section.content .container-fluid .row img {
  width: 50%;
}

section.content .container .row .border-white, section.content .container-fluid .row .border-white {
  border: 0.1rem solid white;
}

section.content .container .row .border-black, section.content .container-fluid .row .border-black {
  border: 0.1rem solid black;
}

section.content .container .row .column-pad, section.content .container-fluid .row .column-pad {
  padding-top: 2rem;
}

section.footer a i {
  font-size: 4rem;
}
