@import '_variables';
@import '_base.scss';

section.hero {
	background-image: url("../img/purple.png");
	width: 100%;
	margin: 0 auto;
}
section {
	&.black {
		background-color: $background-color1;
		color: white;
	}

	&.white {
		background-color: $background-color2;
		color: black;
	}

	&.padded {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	&.hero {

	  h1 {

			font-size: 9rem;
			font-weight: 800;
			//text-align: center;
	  }

		padding-top: 25rem;
		padding-bottom: 25rem;
	}

	&.content {
		.container, .container-fluid {
			.row {
				padding-top: 3rem;

				.border-white {
					border: 0.1rem solid white;
				}
				.border-black {
					border: 0.1rem solid black;
				}

				.column-pad {
					padding-top: 2rem;
				}

			}
		}
	}

}

section.footer a i {
  font-size: 4rem;

}
